header .nav-media{
    position: absolute;
    left: 0px;
    top: 100%;
    background-color: #333;
    width: 150px;
    padding: 10px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}
header .nav-media a{
    font-size: 17px;
    padding: 10px;
}
header .nav-media.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.explore{
    margin-left: 10%;
}

.Destination-grid{
    display: flex;
    flex-wrap: wrap;
}
.Paris{
    width: 100%;
}
.Book-grid{
    display: flex;
    flex-direction: column;
}

.services-grid{
    display: flex;
    flex-direction: column;
}
.services-grid div{
    margin-bottom: 40px;
}
.gallery-grid{
    display: flex;
    flex-direction: column;
}

.explore{
    margin-left: auto; margin-right: auto;
}

.flex-contact .img{
    display: none;
}
.flex-contact .form-flex{
    width: 100%;
}
.flex-contact{
    padding-top: 0px;
}

.footer .footer-grid h1{
    font-size: 20px;
}
.footer-copyright{
    font-size: 12px;
}

.places-section{
    height: auto;
}
.places-section img{
    width: 100%;
    padding-bottom: 10px;
}
.places-section h1{
    padding: 10px;
}
